{
  "openapi": "3.0.1",
  "info": {
    "title": "Village API",
    "version": "2.0.0",
    "description": "Village Relationship Intelligence API enables partners to access connection paths and relationship data through integrated applications.\n\n## Authentication\n\nPartners generate user tokens via the `/auth/tokens` endpoint using their Partner API Key. These tokens are then used by partner applications to make authenticated requests on behalf of users.\n\n## Base URL\n\nAll API requests should be made to: `https://api.village.ai/v2`\n\n## Rate Limits\n\n- **Per User**: 100 requests/minute\n- **Per Partner**: 10,000 requests/minute\n- **Search Endpoints**: 20 requests/minute per user\n\nRate limit headers are included in all responses:\n- `X-RateLimit-Limit`: Maximum requests allowed\n- `X-RateLimit-Remaining`: Requests remaining in current window\n- `X-RateLimit-Reset`: Unix timestamp when limit resets",
    "contact": {
      "name": "Village API Support",
      "url": "https://village.ai/support",
      "email": "support@village.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://village.ai/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.village.ai/v2",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token generation and management"
    },
    {
      "name": "People",
      "description": "Operations on people in the network"
    },
    {
      "name": "Companies",
      "description": "Operations on companies"
    },
    {
      "name": "Health",
      "description": "API health and status"
    }
  ],
  "paths": {
    "/auth/tokens": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Generate User Token",
        "description": "Partners use this endpoint to generate access tokens for their users. The token allows the partner's application to make API requests on behalf of the user.\n\n**Authentication**: Requires Partner API Key in `X-API-Key` header.",
        "operationId": "generateUserToken",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTokenRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic token generation",
                  "value": {
                    "external_user_id": "partner_user_12345",
                    "scopes": ["read:network", "read:paths"]
                  }
                },
                "with_metadata": {
                  "summary": "Token with user metadata",
                  "value": {
                    "external_user_id": "partner_user_12345",
                    "scopes": ["read:network", "read:paths", "read:search"],
                    "expires_in": 7200,
                    "metadata": {
                      "user_email": "john.doe@example.com",
                      "user_name": "John Doe"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TokenResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "access_token": "village_usr_abc123def456ghi789",
                    "token_type": "bearer",
                    "expires_in": 3600,
                    "expires_at": "2024-01-06T13:00:00Z",
                    "scopes": ["read:network", "read:paths"]
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-06T12:00:00Z",
                    "api_version": "2.0"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/people/paths": {
      "post": {
        "tags": ["People"],
        "summary": "Get Connection Paths to Person",
        "description": "Retrieve connection paths from the authenticated user to a target person. Returns up to 10 paths ordered by warmth score (strongest connections first).\n\n**Accepted URL formats:**\n- LinkedIn profile URL: `https://linkedin.com/in/johndoe`\n- Village person ID: `person_abc123` (from search results)",
        "operationId": "getPersonPaths",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonPathsRequest"
              },
              "examples": {
                "linkedin_url": {
                  "summary": "Using LinkedIn URL",
                  "value": {
                    "url": "https://linkedin.com/in/johndoe",
                    "limit": 5
                  }
                },
                "person_id": {
                  "summary": "Using Village person ID",
                  "value": {
                    "url": "person_abc123",
                    "limit": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection paths retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": ["person", "paths", "total_paths"],
                          "properties": {
                            "person": {
                              "$ref": "#/components/schemas/Person"
                            },
                            "paths": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ConnectionPath"
                              }
                            },
                            "total_paths": {
                              "type": "integer",
                              "description": "Total number of available paths"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/people/search": {
      "post": {
        "tags": ["People"],
        "summary": "Search People",
        "description": "Search for people in the user's network using natural language queries and filters. Results are ranked by relevance and include warmth scores for each person.\n\nSupports cursor-based pagination for large result sets.",
        "operationId": "searchPeople",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleSearchRequest"
              },
              "examples": {
                "simple_query": {
                  "summary": "Simple text search",
                  "value": {
                    "query": "software engineers in SF",
                    "limit": 20
                  }
                },
                "with_filters": {
                  "summary": "Search with filters",
                  "value": {
                    "query": "product managers",
                    "filters": {
                      "locations": ["San Francisco, CA", "New York, NY"],
                      "companies": ["Google", "Meta"],
                      "min_warmth_score": 7.0,
                      "degrees": [1, 2]
                    },
                    "limit": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PersonSearchResult"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/people/batch/paths": {
      "post": {
        "tags": ["People"],
        "summary": "Batch Get Connection Paths",
        "description": "Get connection paths to multiple people in a single request. Maximum of 50 people per request.\n\nResults include individual error handling - if one person fails, others still return successfully.\n\n**Accepts mixed identifiers** - LinkedIn URLs, person IDs, or any combination.",
        "operationId": "batchGetPersonPaths",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPathsRequest"
              },
              "examples": {
                "mixed_identifiers": {
                  "summary": "Mix of URLs and IDs",
                  "value": {
                    "urls": [
                      "https://linkedin.com/in/johndoe",
                      "person_def456",
                      "https://linkedin.com/in/janesmith"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch paths retrieved (check individual results for errors)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BatchPathResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/people/sort": {
      "post": {
        "tags": ["People"],
        "summary": "Sort People by Warmth",
        "description": "Sort a list of people by their relationship strength (warmth score) with the authenticated user. Returns the same list ordered by warmth score (highest to lowest).\n\nMaximum of 100 people per request.\n\n**Accepts mixed identifiers** - LinkedIn URLs, person IDs, or any combination.",
        "operationId": "sortPeople",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SortPeopleRequest"
              },
              "examples": {
                "mixed_identifiers": {
                  "summary": "Mix of URLs and IDs",
                  "value": {
                    "urls": [
                      "https://linkedin.com/in/alicebrown",
                      "person_abc123",
                      "https://linkedin.com/in/janesmith"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "People sorted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PersonWarmthScore"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/companies/paths": {
      "post": {
        "tags": ["Companies"],
        "summary": "Get Connection Paths to Company",
        "description": "Retrieve connection paths to employees at a target company. Returns up to 50 employees with the strongest connections, each with their introducers.\n\n**Accepted URL formats:**\n- Company domain: `acme.com`\n- LinkedIn company page: `https://linkedin.com/company/acme`\n- Village company ID: `company_xyz789` (from search results)",
        "operationId": "getCompanyPaths",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyPathsRequest"
              },
              "examples": {
                "domain": {
                  "summary": "Using company domain",
                  "value": {
                    "url": "acme.com",
                    "limit": 20
                  }
                },
                "linkedin_url": {
                  "summary": "Using LinkedIn company URL",
                  "value": {
                    "url": "https://linkedin.com/company/acme",
                    "limit": 50
                  }
                },
                "company_id": {
                  "summary": "Using Village company ID",
                  "value": {
                    "url": "company_xyz789",
                    "limit": 30
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company connection paths retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "company",
                            "employees",
                            "total_employees"
                          ],
                          "properties": {
                            "company": {
                              "$ref": "#/components/schemas/Company"
                            },
                            "employees": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/EmployeeWithPaths"
                              }
                            },
                            "total_employees": {
                              "type": "integer",
                              "description": "Total number of reachable employees"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/companies/search": {
      "post": {
        "tags": ["Companies"],
        "summary": "Search Companies",
        "description": "Search for companies in the user's network using natural language queries and filters. Results include warmth scores indicating connection strength to the company.",
        "operationId": "searchCompanies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompaniesSearchRequest"
              },
              "examples": {
                "simple_query": {
                  "summary": "Simple text search",
                  "value": {
                    "query": "tech companies in SF",
                    "limit": 20
                  }
                },
                "with_filters": {
                  "summary": "Search with filters",
                  "value": {
                    "query": "startups",
                    "filters": {
                      "industries": ["Technology", "SaaS"],
                      "locations": ["San Francisco, CA"],
                      "employee_count_min": 50,
                      "employee_count_max": 500,
                      "min_warmth_score": 6.0
                    },
                    "limit": 30
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CompanySearchResult"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/companies/batch/paths": {
      "post": {
        "tags": ["Companies"],
        "summary": "Batch Get Company Connection Paths",
        "description": "Get connection paths to multiple companies in a single request. Maximum of 20 companies per request.\n\n**Accepts mixed identifiers** - domains, LinkedIn URLs, company IDs, or any combination.",
        "operationId": "batchGetCompanyPaths",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCompanyPathsRequest"
              },
              "examples": {
                "mixed_identifiers": {
                  "summary": "Mix of domains, URLs, and IDs",
                  "value": {
                    "urls": [
                      "acme.com",
                      "https://linkedin.com/company/techstart",
                      "company_bbb222"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch company paths retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BatchCompanyPathResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/companies/sort": {
      "post": {
        "tags": ["Companies"],
        "summary": "Sort Companies by Warmth",
        "description": "Sort a list of companies by connection strength (warmth score) with the authenticated user. Maximum of 100 companies per request.\n\n**Accepts mixed identifiers** - domains, LinkedIn URLs, company IDs, or any combination.",
        "operationId": "sortCompanies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SortCompaniesRequest"
              },
              "examples": {
                "mixed_identifiers": {
                  "summary": "Mix of domains, URLs, and IDs",
                  "value": {
                    "urls": [
                      "acme.com",
                      "https://linkedin.com/company/techstart",
                      "company_bbb222"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Companies sorted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CompanyWarmthScore"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "API Health Check",
        "description": "Check the health and status of the API. This endpoint does not require authentication.",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "version", "timestamp"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["healthy"]
                    },
                    "version": {
                      "type": "string",
                      "example": "2.0.0"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "example": {
                  "status": "healthy",
                  "version": "2.0.0",
                  "timestamp": "2024-01-06T12:00:00Z"
                }
              }
            }
          },
          "503": {
            "description": "API is unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["unhealthy"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Partner API Key for generating user tokens"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "User access token (Bearer token)"
      }
    },
    "schemas": {
      "GenerateTokenRequest": {
        "type": "object",
        "required": ["external_user_id", "scopes"],
        "properties": {
          "external_user_id": {
            "type": "string",
            "description": "Partner's unique identifier for this user",
            "example": "partner_user_12345"
          },
          "scopes": {
            "type": "array",
            "description": "Permissions granted to this token",
            "items": {
              "type": "string",
              "enum": ["read:network", "read:paths", "read:search"]
            },
            "minItems": 1,
            "example": ["read:network", "read:paths"]
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds (default 3600, max 86400)",
            "minimum": 60,
            "maximum": 86400,
            "default": 3600,
            "example": 3600
          },
          "metadata": {
            "type": "object",
            "description": "Optional metadata about the user",
            "properties": {
              "user_email": {
                "type": "string",
                "format": "email"
              },
              "user_name": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        }
      },
      "PersonPathsRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "description": "Any identifier for the person:\n- LinkedIn URL: `https://linkedin.com/in/johndoe`\n- Village person ID: `person_abc123`",
            "example": "https://linkedin.com/in/johndoe"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of paths to return",
            "minimum": 1,
            "maximum": 10,
            "default": 5,
            "example": 5
          }
        }
      },
      "CompanyPathsRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "description": "Any identifier for the company:\n- Company domain: `acme.com`\n- LinkedIn company URL: `https://linkedin.com/company/acme`\n- Village company ID: `company_xyz789`",
            "example": "acme.com"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of employees to return",
            "minimum": 1,
            "maximum": 50,
            "default": 20,
            "example": 20
          }
        }
      },
      "PeopleSearchRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Natural language or keyword search query",
            "minLength": 1,
            "maxLength": 500,
            "example": "software engineers in San Francisco"
          },
          "filters": {
            "type": "object",
            "properties": {
              "locations": {
                "type": "array",
                "description": "Filter by locations",
                "items": {
                  "type": "string"
                },
                "example": ["San Francisco, CA", "New York, NY"]
              },
              "companies": {
                "type": "array",
                "description": "Filter by company names",
                "items": {
                  "type": "string"
                },
                "example": ["Google", "Meta"]
              },
              "titles": {
                "type": "array",
                "description": "Filter by job titles",
                "items": {
                  "type": "string"
                },
                "example": ["Software Engineer", "Product Manager"]
              },
              "industries": {
                "type": "array",
                "description": "Filter by industries",
                "items": {
                  "type": "string"
                },
                "example": ["Technology", "Finance"]
              },
              "degrees": {
                "type": "array",
                "description": "Filter by degrees of separation",
                "items": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 3
                },
                "example": [1, 2]
              },
              "min_warmth_score": {
                "type": "number",
                "description": "Minimum warmth score (0-10)",
                "minimum": 0,
                "maximum": 10,
                "example": 7.0
              }
            }
          },
          "limit": {
            "type": "integer",
            "description": "Number of results to return per page",
            "minimum": 1,
            "maximum": 100,
            "default": 20,
            "example": 20
          },
          "cursor": {
            "type": "string",
            "description": "Cursor for pagination (from previous response)",
            "nullable": true,
            "example": "eyJvZmZzZXQiOjIwLCJxdWVyeSI6ImVuZ2luZWVycyJ9"
          }
        }
      },
      "CompaniesSearchRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Natural language or keyword search query",
            "minLength": 1,
            "maxLength": 500,
            "example": "tech companies in SF"
          },
          "filters": {
            "type": "object",
            "properties": {
              "industries": {
                "type": "array",
                "description": "Filter by industries",
                "items": {
                  "type": "string"
                },
                "example": ["Technology", "SaaS"]
              },
              "locations": {
                "type": "array",
                "description": "Filter by locations",
                "items": {
                  "type": "string"
                },
                "example": ["San Francisco, CA"]
              },
              "employee_count_min": {
                "type": "integer",
                "description": "Minimum employee count",
                "minimum": 1,
                "example": 50
              },
              "employee_count_max": {
                "type": "integer",
                "description": "Maximum employee count",
                "example": 10000
              },
              "min_warmth_score": {
                "type": "number",
                "description": "Minimum warmth score (0-10)",
                "minimum": 0,
                "maximum": 10,
                "example": 6.0
              }
            }
          },
          "limit": {
            "type": "integer",
            "description": "Number of results to return per page",
            "minimum": 1,
            "maximum": 100,
            "default": 20,
            "example": 20
          },
          "cursor": {
            "type": "string",
            "description": "Cursor for pagination",
            "nullable": true
          }
        }
      },
      "BatchPathsRequest": {
        "type": "object",
        "required": ["urls"],
        "properties": {
          "urls": {
            "type": "array",
            "description": "List of person identifiers (mix of LinkedIn URLs and person IDs allowed)",
            "minItems": 1,
            "maxItems": 50,
            "items": {
              "type": "string"
            },
            "example": [
              "https://linkedin.com/in/johndoe",
              "person_def456",
              "https://linkedin.com/in/janesmith"
            ]
          }
        }
      },
      "BatchCompanyPathsRequest": {
        "type": "object",
        "required": ["urls"],
        "properties": {
          "urls": {
            "type": "array",
            "description": "List of company identifiers (mix of domains, LinkedIn URLs, and company IDs allowed)",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "type": "string"
            },
            "example": [
              "acme.com",
              "https://linkedin.com/company/techstart",
              "company_bbb222"
            ]
          }
        }
      },
      "SortPeopleRequest": {
        "type": "object",
        "required": ["urls"],
        "properties": {
          "urls": {
            "type": "array",
            "description": "List of person identifiers to sort by warmth (mix of LinkedIn URLs and person IDs allowed)",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SortCompaniesRequest": {
        "type": "object",
        "required": ["urls"],
        "properties": {
          "urls": {
            "type": "array",
            "description": "List of company identifiers to sort by warmth (mix of domains, LinkedIn URLs, and company IDs allowed)",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "required": ["id", "first_name", "last_name"],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^person_[a-zA-Z0-9]+$",
            "description": "Unique identifier for the person",
            "example": "person_abc123"
          },
          "first_name": {
            "type": "string",
            "description": "First name",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "description": "Last name",
            "example": "Doe"
          },
          "full_name": {
            "type": "string",
            "description": "Full name",
            "example": "John Doe"
          },
          "linkedin_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "LinkedIn profile URL",
            "example": "https://linkedin.com/in/johndoe"
          },
          "headline": {
            "type": "string",
            "nullable": true,
            "description": "Professional headline",
            "example": "CEO at Acme Corporation"
          },
          "location": {
            "type": "object",
            "nullable": true,
            "properties": {
              "city": {
                "type": "string",
                "example": "San Francisco"
              },
              "state": {
                "type": "string",
                "example": "CA"
              },
              "country": {
                "type": "string",
                "example": "US"
              }
            }
          },
          "current_position": {
            "type": "object",
            "nullable": true,
            "description": "Current job position",
            "properties": {
              "title": {
                "type": "string",
                "example": "Chief Executive Officer"
              },
              "company": {
                "$ref": "#/components/schemas/Company"
              },
              "start_date": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "description": "Start date (YYYY-MM-DD)",
                "example": "2020-01-15"
              }
            }
          },
          "profile_image_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Profile image URL",
            "example": "https://media.licdn.com/dms/image/..."
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email address (if available)",
            "example": "john.doe@example.com"
          }
        }
      },
      "Company": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^company_[a-zA-Z0-9]+$",
            "description": "Unique identifier for the company",
            "example": "company_xyz789"
          },
          "name": {
            "type": "string",
            "description": "Company name",
            "example": "Acme Corporation"
          },
          "linkedin_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "LinkedIn company page URL",
            "example": "https://linkedin.com/company/acme"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Company website domain",
            "example": "acme.com"
          },
          "industry": {
            "type": "string",
            "nullable": true,
            "description": "Primary industry",
            "example": "Technology"
          },
          "employee_count": {
            "type": "integer",
            "nullable": true,
            "description": "Number of employees",
            "example": 5000
          },
          "logo_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Company logo URL",
            "example": "https://logo.clearbit.com/acme.com"
          },
          "location": {
            "type": "object",
            "nullable": true,
            "properties": {
              "city": {
                "type": "string",
                "example": "San Francisco"
              },
              "state": {
                "type": "string",
                "example": "CA"
              },
              "country": {
                "type": "string",
                "example": "US"
              }
            }
          }
        }
      },
      "ConnectionPath": {
        "type": "object",
        "required": [
          "id",
          "source",
          "target",
          "degree",
          "warmth_score",
          "warmth_label",
          "introducers"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^path_[a-zA-Z0-9]+$",
            "description": "Unique identifier for this path",
            "example": "path_xyz789"
          },
          "source": {
            "$ref": "#/components/schemas/Person",
            "description": "The authenticated user (source of the path)"
          },
          "target": {
            "$ref": "#/components/schemas/Person",
            "description": "The target person"
          },
          "degree": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3,
            "description": "Degrees of separation (1 = direct connection)",
            "example": 2
          },
          "warmth_score": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "description": "Relationship strength score (0-10)",
            "example": 8.5
          },
          "warmth_label": {
            "type": "string",
            "enum": ["Poor", "Fair", "Good", "Very Good", "Excellent"],
            "description": "Human-readable warmth category",
            "example": "Excellent"
          },
          "introducers": {
            "type": "array",
            "description": "People who can make the introduction",
            "items": {
              "$ref": "#/components/schemas/Introducer"
            }
          }
        }
      },
      "Introducer": {
        "type": "object",
        "required": ["person", "relationship_strength"],
        "properties": {
          "person": {
            "$ref": "#/components/schemas/Person",
            "description": "The person who can make the introduction"
          },
          "relationship_strength": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "description": "Strength of relationship between introducer and target",
            "example": 9.2
          },
          "mutual_connections_count": {
            "type": "integer",
            "description": "Number of mutual connections",
            "example": 15
          },
          "context": {
            "type": "string",
            "nullable": true,
            "description": "Context about why this person is a good introducer",
            "example": "Strong professional relationship through TechCorp"
          }
        }
      },
      "PersonSearchResult": {
        "type": "object",
        "required": [
          "person",
          "relevance_score",
          "warmth_score",
          "warmth_label",
          "degree"
        ],
        "properties": {
          "person": {
            "$ref": "#/components/schemas/Person"
          },
          "relevance_score": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "description": "How well this person matches the query",
            "example": 9.2
          },
          "warmth_score": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "description": "Relationship strength with authenticated user",
            "example": 8.5
          },
          "warmth_label": {
            "type": "string",
            "enum": ["Poor", "Fair", "Good", "Very Good", "Excellent"],
            "example": "Excellent"
          },
          "degree": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3,
            "description": "Degrees of separation from authenticated user",
            "example": 2
          }
        }
      },
      "CompanySearchResult": {
        "type": "object",
        "required": [
          "company",
          "relevance_score",
          "warmth_score",
          "warmth_label",
          "reachable_employees_count"
        ],
        "properties": {
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "relevance_score": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "description": "How well this company matches the query",
            "example": 9.1
          },
          "warmth_score": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "description": "Overall connection strength to this company",
            "example": 8.2
          },
          "warmth_label": {
            "type": "string",
            "enum": ["Poor", "Fair", "Good", "Very Good", "Excellent"],
            "example": "Excellent"
          },
          "reachable_employees_count": {
            "type": "integer",
            "description": "Number of employees you can reach through your network",
            "example": 45
          }
        }
      },
      "EmployeeWithPaths": {
        "type": "object",
        "required": [
          "person",
          "warmth_score",
          "warmth_label",
          "degree",
          "paths"
        ],
        "properties": {
          "person": {
            "$ref": "#/components/schemas/Person"
          },
          "warmth_score": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "description": "Relationship strength with this employee",
            "example": 8.5
          },
          "warmth_label": {
            "type": "string",
            "enum": ["Poor", "Fair", "Good", "Very Good", "Excellent"],
            "example": "Excellent"
          },
          "degree": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3,
            "description": "Degrees of separation",
            "example": 2
          },
          "paths": {
            "type": "array",
            "description": "Connection paths to this employee",
            "items": {
              "$ref": "#/components/schemas/ConnectionPath"
            }
          }
        }
      },
      "BatchPathResult": {
        "type": "object",
        "required": ["url", "paths", "error"],
        "properties": {
          "url": {
            "type": "string",
            "description": "The person identifier from the request (LinkedIn URL or person ID)",
            "example": "https://linkedin.com/in/johndoe"
          },
          "paths": {
            "type": "array",
            "description": "Connection paths (empty if error occurred)",
            "items": {
              "$ref": "#/components/schemas/ConnectionPath"
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "description": "Error details if this person failed (null if successful)",
            "properties": {
              "type": {
                "type": "string",
                "example": "not_found_error"
              },
              "message": {
                "type": "string",
                "example": "Person not found in network"
              }
            }
          }
        }
      },
      "BatchCompanyPathResult": {
        "type": "object",
        "required": ["url", "employees", "error"],
        "properties": {
          "url": {
            "type": "string",
            "description": "The company identifier from the request (domain, LinkedIn URL, or company ID)",
            "example": "acme.com"
          },
          "employees": {
            "type": "array",
            "description": "Employees with paths (empty if error occurred)",
            "items": {
              "$ref": "#/components/schemas/EmployeeWithPaths"
            }
          },
          "total_employees": {
            "type": "integer",
            "nullable": true,
            "description": "Total reachable employees count"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "PersonWarmthScore": {
        "type": "object",
        "required": ["url", "person", "warmth_score", "warmth_label", "degree"],
        "properties": {
          "url": {
            "type": "string",
            "description": "The person identifier from the request (LinkedIn URL or person ID)",
            "example": "https://linkedin.com/in/johndoe"
          },
          "person": {
            "$ref": "#/components/schemas/Person"
          },
          "warmth_score": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "example": 8.5
          },
          "warmth_label": {
            "type": "string",
            "enum": ["Poor", "Fair", "Good", "Very Good", "Excellent"],
            "example": "Excellent"
          },
          "degree": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3,
            "example": 2
          }
        }
      },
      "CompanyWarmthScore": {
        "type": "object",
        "required": [
          "url",
          "company",
          "warmth_score",
          "warmth_label",
          "reachable_employees_count"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "The company identifier from the request (domain, LinkedIn URL, or company ID)",
            "example": "acme.com"
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "warmth_score": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 10,
            "example": 8.2
          },
          "warmth_label": {
            "type": "string",
            "enum": ["Poor", "Fair", "Good", "Very Good", "Excellent"],
            "example": "Excellent"
          },
          "reachable_employees_count": {
            "type": "integer",
            "description": "Number of reachable employees at this company",
            "example": 45
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "expires_at",
          "scopes"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The generated access token",
            "example": "village_usr_abc123def456ghi789"
          },
          "token_type": {
            "type": "string",
            "enum": ["bearer"],
            "description": "Token type (always \"bearer\")",
            "example": "bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until token expires",
            "example": 3600
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when token expires",
            "example": "2024-01-06T13:00:00Z"
          },
          "scopes": {
            "type": "array",
            "description": "Permissions granted to this token",
            "items": {
              "type": "string"
            },
            "example": ["read:network", "read:paths"]
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "required": ["success", "data", "meta"],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [true],
            "description": "Indicates successful response"
          },
          "data": {
            "description": "Response data (schema varies by endpoint)"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error", "meta"],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [false],
            "description": "Indicates error response"
          },
          "error": {
            "type": "object",
            "required": ["type", "title", "status", "detail"],
            "properties": {
              "type": {
                "type": "string",
                "description": "Machine-readable error type",
                "enum": [
                  "validation_error",
                  "authentication_error",
                  "authorization_error",
                  "not_found_error",
                  "rate_limit_error",
                  "internal_error",
                  "service_unavailable_error"
                ],
                "example": "validation_error"
              },
              "title": {
                "type": "string",
                "description": "Human-readable error title",
                "example": "Invalid request parameters"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code",
                "example": 400
              },
              "detail": {
                "type": "string",
                "description": "Detailed error message",
                "example": "The query parameter is required and must not be empty"
              },
              "trace_id": {
                "type": "string",
                "description": "Trace ID for debugging (contact support with this ID)",
                "example": "trace_abc123xyz789"
              },
              "errors": {
                "type": "array",
                "description": "Detailed validation errors (only present for validation_error type)",
                "items": {
                  "type": "object",
                  "required": ["field", "message", "code"],
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "Field name that failed validation",
                      "example": "linkedin_url"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Must be a valid LinkedIn profile URL"
                    },
                    "code": {
                      "type": "string",
                      "description": "Machine-readable error code",
                      "example": "INVALID_FORMAT"
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "required": ["request_id", "timestamp"],
        "properties": {
          "request_id": {
            "type": "string",
            "description": "Unique identifier for this request (for support/debugging)",
            "example": "req_abc123"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of the response",
            "example": "2024-01-06T12:00:00Z"
          },
          "api_version": {
            "type": "string",
            "description": "API version",
            "example": "2.0"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": ["has_more"],
        "properties": {
          "cursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the next page (null if no more pages)",
            "example": "eyJvZmZzZXQiOjIwLCJxdWVyeSI6ImVuZ2luZWVycyJ9"
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether more results are available",
            "example": true
          },
          "count": {
            "type": "integer",
            "description": "Number of items in current page",
            "example": 20
          }
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Bad request - Invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": {
                "type": "validation_error",
                "title": "Invalid request parameters",
                "status": 400,
                "detail": "Request validation failed",
                "trace_id": "trace_abc123",
                "errors": [
                  {
                    "field": "query",
                    "message": "Query is required and must not be empty",
                    "code": "REQUIRED_FIELD"
                  }
                ]
              },
              "meta": {
                "request_id": "req_xyz789",
                "timestamp": "2024-01-06T12:00:00Z"
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Unauthorized - Missing or invalid authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": {
                "type": "authentication_error",
                "title": "Authentication required",
                "status": 401,
                "detail": "Missing or invalid access token",
                "trace_id": "trace_def456"
              },
              "meta": {
                "request_id": "req_uvw123",
                "timestamp": "2024-01-06T12:00:00Z"
              }
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "Forbidden - Insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": {
                "type": "authorization_error",
                "title": "Insufficient permissions",
                "status": 403,
                "detail": "Token does not have required scope 'read:search'",
                "trace_id": "trace_jkl012"
              },
              "meta": {
                "request_id": "req_opq789",
                "timestamp": "2024-01-06T12:00:00Z"
              }
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not found - Resource does not exist",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": {
                "type": "not_found_error",
                "title": "Person not found",
                "status": 404,
                "detail": "Person with ID 'person_abc123' not found in network",
                "trace_id": "trace_mno345"
              },
              "meta": {
                "request_id": "req_lmn012",
                "timestamp": "2024-01-06T12:00:00Z"
              }
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Too many requests - Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": {
                "type": "rate_limit_error",
                "title": "Rate limit exceeded",
                "status": 429,
                "detail": "You have exceeded the rate limit of 100 requests per minute. Please try again in 30 seconds.",
                "trace_id": "trace_pqr678"
              },
              "meta": {
                "request_id": "req_hij345",
                "timestamp": "2024-01-06T12:00:00Z"
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed per window",
            "schema": {
              "type": "integer",
              "example": 100
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining in current window",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when limit resets",
            "schema": {
              "type": "integer",
              "example": 1704542430
            }
          },
          "Retry-After": {
            "description": "Seconds to wait before retrying",
            "schema": {
              "type": "integer",
              "example": 30
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": {
                "type": "internal_error",
                "title": "Internal server error",
                "status": 500,
                "detail": "An unexpected error occurred. Please contact support with trace ID if the issue persists.",
                "trace_id": "trace_stu901"
              },
              "meta": {
                "request_id": "req_klm678",
                "timestamp": "2024-01-06T12:00:00Z"
              }
            }
          }
        }
      }
    }
  }
}
